version: '3.9'

services:
  db:
    image: mysql:latest
    volumes:
      - dbdata:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: udoit3
      MYSQL_USER: udoit
      MYSQL_PASSWORD: udoit
    ports:
      - "3306:3306"
    container_name: udoit_db

  php:
    build:
      context: .
      dockerfile: Dockerfile.umich
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: mysql://udoit:udoit@udoit_db:3306/udoit3
      APP_ENV: prod
      APP_LMS: canvas
      RUN_MIGRATIONS: "true"
      FASTCGI_READ_TIMEOUT: 360

    container_name: udoit_php
    user: 1001320000:10000
    group_add:
      - root

volumes:
  web:
  dbdata:
